<header class="site-header">
  <a href="{{ SITEURL }}">
    {% if SITELOGO %}
    <img
      src="{{ SITELOGO }}"
      alt="{{ SITETITLE }}"
      title="{{ SITETITLE }}" />
    {% else %} {% endif %}
  </a>
  <h1 itemprop="name">
    <a href="{{ SITEURL }}">{{ SITETITLE }}</a>
  </h1>
  {% if SITESUBTITLE %}
  <p>{{ SITESUBTITLE }}</p>
  {% endif %} 
  <ul class="nav justify-content-center">
    {% for category, articles in categories %}
    <li class="nav-item">
      <a class="nav-link" href="{{ SITEURL }}/{{ category.url }}">{{ category.name }}</a>
    </li>
    {% endfor %}
    {% for page in pages %}
    <li class="nav-item">
      <a class="nav-link" href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
</header>
